@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MVCProjectLab.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.Partial("_DateView")
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Employees", FormMethod.Post))
{
    <filedset>
        <legend>
            <b>Search By:</b>
        </legend>
        @Html.RadioButton("SearchBy", "Name", true) <text>Name</text>
        @Html.RadioButton("SearchBy", "Department") <text>Department</text>
        <br />
        <div> @Html.TextBox("search", null, htmlAttributes: new { @class = "form-control" }) </div>
        <input type="submit" value="Search" />
    </filedset>
}

@if (Model.Count() == 0)
{
    <tr>
        <td colspan="4">No Rows  Match Search Criteria</td>
    </tr>
}
else
{
    <table class="table">
        <tr>
            <th>
             @Html.ActionLink("Name","Index",new { sortby = ViewBag.SortNameParameter })  @*@Html.DisplayNameFor(model => model.First().Name)*@
            </th>
            <th>
                @Html.ActionLink("Salary", "Index", new { sortby = ViewBag.SortSalaryParameter })    @*@Html.DisplayNameFor(model => model.First().Salary)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Department)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>

        }
    </table>
    //displaying the pages controls.

   @Html.PagedListPager(Model, page => Url.Action("Index", "Employees",
    new { page, SearchBy = Request.QueryString["SearchBy"], search = Request.QueryString["search"] , sortby=Request.QueryString["sortby"] }),


    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded,
        DisplayPageCountAndCurrentLocation = true,


    }
    )

}
 
